/* ========================== Component Name ========================== */
$component: portfolio-23;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
}

.$(component) {
  padding: 40px 0;
  overflow-x: hidden;

  ul {
    list-style: none;
  }

  &__tabs {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto 25px;
  }

  &__tabs-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 7px 12px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-sizing: content-box;
    border-bottom: 1px solid transparent;
    transition: color 0.25s;

    &.active {
      color: var(--blue);
      border-bottom: 1px solid black;
    }

    &:hover {
      cursor: pointer;
      color: var(--blue);
    }
  }

  &__wrap {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    backgrond-color: white;
    color: var(--text);
  }

  &__slide {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(min-content, auto);
    grid-auto-columns: minmax(min-content, auto);
    grid-gap: 2rem;
  }

  &__image {
    position: absolute;
    opacity: 0;
    left: 0%;
    transform: translateX(-400%);
    width: 100%;
    height: 434px;
    object-fit: cover;
    object-position: center;
    border-radius: 0px 0px 4px 4px;
    grid-area: 1 / 1 / span 1 / span 1;
    transition: opacity 0.1s, left 0.5s, transform 0.5s;
    z-index: -1;
  }

  &__content{
    background-color: white;
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    $(component)__content-wrap {
      transition: opacity 0.5s;
      opacity: 0;
      z-index: 5;
    }
  }

  &__arrows {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;

    & > svg {
      transform: scale(1);
      transform-origin: center;
      transition: transform 0.25s;
      fill: var(--green);
      width: 32px;
      height: auto;

      &:hover {
        cursor: pointer;
        transform: scale(1.3);
      }
    }
  }

  &__title {
    width: 100%;
    margin-top: auto;
    text-transform: none;
    color: var(--blue);
    font-weight: 300;
  }

  &__text {
    width: 100%;
    margin-top: 1rem;
    text-transform: none;
    font-weight: 100;
    font-style: normal;
  }

  /* ========================== Modifiers ========================== */
  &__content[data-slide]{
    z-index: 1;
    opacity: 0;

    $(component)__content-wrap {
      z-index: 1;
    }

    $(component)__arrows {
      z-index: 1;
    }
  }

  &__content[data-slide='1']  {
    z-index: 10;
    opacity: 1;

    $(component)__content-wrap {
      z-index: 10;
    }

    $(component)__arrows {
      z-index: 10;
    }
  }

  &__image[data-slide="1"] {
    position: static;
    opacity: 1;
    left: auto;
    transform: translateX(0%);
    z-index:1;
  }

  &__image[data-slide="2"] {
    opacity: 0.4;
    transform: translateX(-150%);
    z-index:5;
  }

  &__image[data-slide="3"] {
    opacity: 0;
    transform: translateX(-250%);
  }

  &__image-last[data-slide] {
    opacity: 0.4;
    transform: translateX(265%);
  }

  &__single-case {
    margin-top: 2rem;
  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */

  &.fir--light {
    .$(component)__title {
      color: var(--teal)
    }
  }
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM .$(component){
}

/* ================ Query: Medium */
$(is).MD .$(component){
}

/* ================ Query: Large */
$(is).LG .$(component){
  padding: 80px 0;

  &__tabs {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1440px;
    margin: 0 auto 50px;

    li {
      width: auto;
      margin: 0 12px;
    }
  }

  &__wrap {
    max-width: 1440px;
  }

  &__slide {
    grid-template-columns: repeat(12, 1fr);
  }

  &__image {
    transform: translateX(365%);
    grid-area: 1 / 3 / span 1 / span 4;
  }

  &__content{
    grid-area: 1 / 7 / span 1 / span 3;
    transition: opacity 0.4s;
  }

  &__content-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  &__image[data-slide] {
    transform: translateX(-100%);
  }

  &__image[data-slide="1"]{
    transform: translateX(0%);
  }

  &__image[data-slide="2"]{
    transform: translateX(-105%);
  }

  &__image[data-slide="3"]{
    transform: translateX(-250%);
  }

  &__image-last[data-slide] {
    transform: translateX(217%);
  }

  &__single-case {
    margin-top: 0;
  }
}

/* ================ Query: Xtra Large */
$(is).XL .$(component){
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
