<template>
  <div class="portfolio-23__app">
    <div class="portfolio-23__wrap">
      <ul class="portfolio-23__tabs">
        <li class="portfolio-23__tabs-item" :class="{active: index == activeTab}" v-for="(cat, index) in cats" :key="cat['slug']" :data-slug="cat['slug']" @click="setTab(cat['slug'])">{{ cat['name'] }}</li>
      </ul>

    <div class="portfolio-23__slide">
      <img class="portfolio-23__image" v-for="(project, index) in projects" :key="project['post_title'] + '-' + index" :data-slide="index + 1" :src="custom[index]['project']['project_images'][0]['project_image']['url']" :alt="project['post_title']">

      <div class="portfolio-23__content" v-for="(project, index) in projects" :key="project['slug'] + '-' + index" :data-slide="index + 1" >
        <div class="portfolio-23__content-wrap">
          <h3 class="portfolio-23__title">{{ project['post_title'] }}</h3>
          <h6 class="portfolio-23__text">{{ custom[index]['project']['project_text'] }}</h6>
          <div class="portfolio-23__arrows">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="long-arrow-left" class="portfolio-23__prev svg-inline--fa fa-long-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M152.485 396.284l19.626-19.626c4.753-4.753 4.675-12.484-.173-17.14L91.22 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H91.22l80.717-77.518c4.849-4.656 4.927-12.387.173-17.14l-19.626-19.626c-4.686-4.686-12.284-4.686-16.971 0L3.716 247.515c-4.686 4.686-4.686 12.284 0 16.971l131.799 131.799c4.686 4.685 12.284 4.685 16.97-.001z"></path></svg>
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="long-arrow-right" class="portfolio-23__next svg-inline--fa fa-long-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M295.515 115.716l-19.626 19.626c-4.753 4.753-4.675 12.484.173 17.14L356.78 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h344.78l-80.717 77.518c-4.849 4.656-4.927 12.387-.173 17.14l19.626 19.626c4.686 4.686 12.284 4.686 16.971 0l131.799-131.799c4.686-4.686 4.686-12.284 0-16.971L312.485 115.716c-4.686-4.686-12.284-4.686-16.97 0z"></path></svg>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  name:'fir-portfolio-23',
  props: ['projects', 'custom', 'categories', 'cats'],
  data() {
    return {
      slides: null,
      images: null,
      content: null,
      activeTotal: null,
      activeSlide: 1, // loop based
      activeTab: 0, //index based
      tabTotal: 0,
      next: null,
      prev:null
    }
  },
  mounted() {
      this.tabs = document.querySelectorAll('.portfolio-23__tabs-item');
      this.tabTotal = this.tabs.length;
      this.slides = document.querySelectorAll('[data-slide]');
      this.images = document.querySelectorAll('.portfolio-23__image');
      this.content = document.querySelectorAll('.portfolio-23__content');
      this.activeTotal = this.slides.length/2;
      this.next = document.querySelector('.portfolio-23__next');
      this.prev = document.querySelector('.portfolio-23__prev');
      // document.querySelector('.portfolio-23__tabs li').classList.add('active');
      this.ensureInfinite();

      document.querySelectorAll('.portfolio-23__next').forEach((element) => {
        element.addEventListener('click', this.nextSlide)
      })

      document.querySelectorAll('.portfolio-23__prev').forEach((element) => {
        element.addEventListener('click', this.prevSlide)
      })
  },
  methods: {
    skipToSlide(slug) {
      const goTo = this.categories.findIndex(element => element.slug == slug)
      while(goTo !== this.activeSlide - 1) {
        this.nextSlide(false)
      }
    },
    updateTab(direction) {
      if(direction) {
        this.activeTab + 1 >= this.tabTotal ? this.activeTab = 0 : this.activeTab++;
      } else {
        this.activeTab - 1 < 0 ? this.activeTab = this.tabTotal - 1 : this.activeTab--;
      }
      // this.setTab(this.categories[this.activeSlide - 1].slug, false);
    },
    setTab(slug) {
      this.activeTab = this.cats.findIndex((element) => element.slug == slug)
      const current = this.categories[this.activeSlide - 1];
      if(slug != current.slug) {
        this.skipToSlide(slug);
      }
    },
    nextSlide(skip = true) {
      if(document.querySelector('.portfolio-23__image-last')){
        document.querySelector('.portfolio-23__image-last').classList.remove('portfolio-23__image-last');
      }
      this.slides.forEach((element) => {
          if(parseInt(element.dataset.slide) - 1 == 0) {
            element.dataset.slide = this.slides.length/2;
          } else {
            element.dataset.slide = parseInt(element.dataset.slide) - 1;
          }
          if(parseInt(element.dataset.slide) == this.images.length && element.classList.contains('portfolio-23__image')) {
            element.classList.add('portfolio-23__image-last');
          }
      })

      const prevSlide = this.categories[this.activeSlide - 1];
      this.activeSlide + 1 > this.activeTotal ? this.activeSlide = 1 : this.activeSlide++;
      const slide = this.categories[this.activeSlide - 1];
      if(slide.slug != prevSlide.slug && skip) {
        // this.setTab(this.categories[this.activeSlide - 1].slug, false);
        this.updateTab(true);
      }
    },
    prevSlide() {
      if(document.querySelector('.portfolio-23__image-last')){
        document.querySelector('.portfolio-23__image-last').classList.remove('portfolio-23__image-last');
      }
      this.slides.forEach((element,index) => {
        if(parseInt(element.dataset.slide) + 1 > this.slides.length/2) {
          element.dataset.slide = 1;
        } else {
          element.dataset.slide = parseInt(element.dataset.slide) + 1;
        }
        if(parseInt(element.dataset.slide) == this.images.length && element.classList.contains('portfolio-23__image')) {
          element.classList.add('portfolio-23__image-last');
        }
      })

      const prevSlide = this.categories[this.activeSlide - 1];
      this.activeSlide - 1 < 1 ? this.activeSlide = this.activeTotal : this.activeSlide--
      const slide = this.categories[this.activeSlide - 1];
      if(slide.slug !== prevSlide.slug) {
        // this.setTab(this.categories[this.activeSlide - 1].slug, false);
        this.updateTab(false);
      }
    },
    ensureInfinite() {
      if(this.images.length == 1) {
        document.querySelector('.portfolio-23__content').classList.add('portfolio-23__single-case');
        return;
      }

      while(this.slides.length >= 4 && this.slides.length <=10) {
        let originalImgLength = this.images.length;
        let originalContentLength = this.content.length;

        if(originalImgLength >= 2 && originalImgLength <= 5) {
          for(var x = 0; x < originalImgLength; x++) {
            let tempImg = this.images[x].cloneNode();
            tempImg.dataset.slide = originalImgLength + 1 + x;
            $(tempImg).insertAfter(this.images[this.images.length-1]);
            this.images = document.querySelectorAll('.portfolio-23__image');
          }
        }

        if(originalContentLength >= 2 && originalContentLength <= 5) {
          for(var x = 0; x < originalContentLength; x++) {
            let tempContent = this.content[x].cloneNode(true);
            tempContent.dataset.slide = originalContentLength + 1 + x;
            $(tempContent).insertAfter(this.content[this.content.length-1]);
            this.content = document.querySelectorAll('.portfolio-23__content');
          }
        }

        if(this.categories.length >= 2 && this.categories.length <= 5) {
          const fixedLength = this.categories.length
          for(var x = 0; x < fixedLength; x++) {
            this.categories.push(this.categories[x])
          }
        }

        this.slides = document.querySelectorAll('[data-slide]');
      }
      this.images[this.images.length-1].classList.add('portfolio-23__image-last');
    }
  }
}
</script>
